<div class="top-bar">
  <a routerLink="/team4/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
  <a routerLink="/team4/home/about" routerLinkActive="active-link">About</a>
  <a routerLink="/team4/home/contact" routerLinkActive="active-link">Contact</a>
  <a routerLink="/team4/home/gallery" routerLinkActive="active-link">Gallery</a>
  <a routerLink="/team4/home/erp" routerLinkActive="active-link">ERP</a>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
