
<h2>About Silicon University</h2>
<p> Silicon University (formerly Silicon Institute of Technology, Bhubaneswar) was established in 2001. Since then, it
    has grown into one of the most reputable private universities in Odisha. </p>
<section class="stats">
    <div><strong>2838</strong><span>Students</span></div>
    <div><strong>166</strong><span>Faculty Members</span></div>
    <div><strong>6</strong><span>Departments</span></div>
    <div><strong>63</strong><span>Laboratories</span></div>
</section>