.layout {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Sidebar styling */
.sidebar {
  width: 220px;
  background-color: #1f2937;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: white;
}

.sidebar-title {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #444;
  padding-bottom: 20px;
  overflow-y: hidden;
}
.sidebar-title:hover{
    background-color: #2c3e50;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.team-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-button {
  text-decoration: none;
  color: white;
  background-color: #374151;
  padding: 12px;
  border-radius: 6px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.team-button:hover {
  background-color: #60a5fa;
  color: #000;
}

/* Main content */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;    /* Vertical center */
  align-items: center;        /* Horizontal center */
  text-align: center;
  background-color: #f9fafb;
  height: 100vh;              /* Ensure it fills the viewport */
}
.main-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #111827;
}

p {
  margin: 0;
  font-size: 18px;
}
